.gameimage {
  height: 200px;
  width: 120px;
  border-radius: 7px;
  margin-bottom: 10px;
}
.gaming-li-container {
  margin-right: 10px;
  margin-bottom: 10px;
}
.gaming-link-item {
  text-decoration: none;
}
